<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<h1> PRODUCTOS EN SUBASTA: </h1>
<h1> <%= link_to("SUBASTAR TU PRODUCTO", new_product_path) %> </h1>

<ul>
	<% @products.sort_by{|p| p.date_limit}.each do |product| %>
		<hr>
		<li>Nombre del producto:<strong> <%= link_to(product.name, product_path(product)) %></strong>
			Usuario: <strong> <%= product.user %></strong></li> 
		<li type="none">Descripción: <%= product.description %></li>
		<% if product.out_of_date? %>
			<h2>PRODUCTO VENDIDO</h2>
		<% else %>
			<li type="none">Fecha límite para pujar: <strong><%= product.date_limit %></strong></li>
			<li type="none">Precio inicial: <strong><%= product.price %></strong> €</li>
		<% end %>
		<br>
		<hr>
	<% end %>
</ul>

<h1 align="center"> <%= link_to("HOME", root_path) %> </h1>