<h1>Add backpack</h1>


<%= form_for @backpack do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </p>

  <p>
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </p>

  <p>
    <%= f.label :pockets %><br>
    <%= f.number_field :pockets %>
  </p>

  <p>
    <%= f.label :waterproof %><br>
    <%= f.check_box :waterproof %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


<p>
  <%= link_to 'Back', backpacks_path %>
</p>