<h1>
  <strong>Name:</strong>
  <%= @laptop.name %>
</h1>

<p>
  <strong>Brand:</strong>
  <%= @laptop.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @laptop.model %>
</p>

<p>
  <strong>Processor Brand:</strong>
  <%= @laptop.processor %>
</p>

<p>
  <strong>RAM Size (in GB):</strong>
  <%= @laptop.ram %>
</p>

<p>
  <strong>Price (in €):</strong>
  <%= @laptop.price %>
</p>

<p>
    <%= link_to 'Edit', edit_laptop_path(@laptop)%> |
    <%= link_to 'Back', laptops_path%>
</p>

<button type='button' id='contador'></button>
<button type='button' id='like-button'> Like </button>
