<!-- <header> CONCIERTOS </header> -->
	<div id="container_index">
			<h1>ESTA NOCHE:</h1>
		<% Concert.all.each do |concert|%>
			
				
				<% if ((concert.date.day === Time.now.day)&&(concert.date.mon === Time.now.month)&&(concert.date.year === Time.now.year)) %>
					<h1> <%= link_to(concert.name, concert_path(concert.id))%> <h1>	
				<%end%>
			
			<%end%>
	</div>

<div id="container_index">
	<h1 id="index_h_one"> LISTA DE CONCIERTOS MADRID </h1>

	<div id="index_links"> 

		<table border="1" cellspacing="0" align="center">
			<% @concerts.each do |concert| %>

		<div> 
			<tr id="group_name"><td rowspan="2"><%= concert.name %></td></tr>
			<tr>
				<td><%= link_to "Show", concert_path(concert)%></td>
				<td><%= link_to "Edit", edit_concert_path(concert) %></td>
				<td><%= link_to "Destroy", concert_path(concert), method: :delete, data: {confirm: "Are you sure?"} %></td>
			</tr>
		</div>
	<% end %>
	</table>
</div>
</div>


<% hash ={} %>
<% @concerts.each do |x| %>	
	<%	hash[x.name] = x.likes %>
<% end %>

	<% hash2 = hash.sort_by {|x,y| y} %>
	<% hash2.reverse! %>


<ul>
<% hash2.each do |x, y| %>	
		<li> <%= x %> : <%= y %> likes </li>
	<%end%>
</ul>





	<div id="new_concert">
			<p><%= link_to "New concert", new_concert_path %></p>
	</div>

<footer id="f_index"> Grupo4 </footer>